<div class="footer-main">
  <div class="footer-links">
    <%= link_to 'posts', class: "nav-icon-footer" do %>
      <i class="fa fa-car"></i>
    <% end %>

    <%= link_to 'chatrooms', class: "nav-icon-footer" do %>

      <i class="fa fa-solid fa-plus"></i>
    <% end %>
    <%= link_to '#', class: "nav-icon-footer" do %>
      <i class="fa fa-car"></i>
      <% end %>
  </div>
</div>
