<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-content-container">
    <div class='navbar-left'>
      <h2 class='band-logo'>BandMates</h2>
    </div>
    <div class="navbar-right">
      <%= link_to "Favourites", "#", class: "dropdown-item" %>
      <%= link_to "Messages", "#", class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
</div>
