<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-content-container">
    <div class='navbar-left'>
      <%= link_to posts_path do %>
      <h2 class='band-logo color:white'>BandMates</h2>
      <% end %>
    </div>
    <div class="navbar-right">

      <%= link_to favourites_path, class: "nav-icon" do %>

        <i class="fa fa-thin fa-music"></i>
      <% end %>
      <%= link_to chatrooms_path, class: "nav-icon" do %>
        <i class="fa fa-thin fa-envelope"></i>
      <% end %>

       <%= link_to edit_user_path(current_user), class: "nav-icon" do %>
        <i class="fa fa-solid fa-user"></i>
        <% end %>
    </div>
  </div>
</div>
