<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-content-container">
    <div class='navbar-left'>
      <h2 class='band-logo'>BandMates</h2>
    </div>
    <div class="navbar-right">
      <%= link_to favourites_path, class: "nav-icon" do %>
        <i class="fa fa-solid fa-music"></i>
      <% end %>
      <%= link_to '#', class: "nav-icon" do %>
        <i class="fa fa-solid fa-envelope"></i>
      <% end %>
      <%= link_to '#', class: "nav-icon" do %>
        <i class="fa fa-solid fa-user"></i>
      <% end %>
    </div>
  </div>
</div>
