<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<div class="landing">
  <div class="heading-landing">
    <h1 class="landing-main">BandMates</h1>
  </div>

  <p class="landing-p">Bringing musicians together, wherever </p>

  <div class="btn-landing">
    <div class="login-btn">
      <%= link_to "Login", new_user_session_path  %>
    </div>
    <div class="signup-btn">
      <%= link_to "Sign Up", new_user_registration_path  %>
    </div>
  </div>
</div>
