<div class='all-content'>
  <div class='posts-container'>
      <div class='post'>
        <h1>Ford Burgess</h1>
        <div class='inner-post'>
          <img src='https://cdn.mos.cms.futurecdn.net/aKN5fXTyQagKGscKuSDaf9-1200-80.jpg'>
          <div class='inner-post-bottom'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
  </div>
</div>
