.container-nav {
  padding: 0;
}

.nav-content-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(164, 67, 255), rgb(0, 27, 180));
  color: white;
  align-items: center;
  height: 50px;
  padding-right: 15px;
}
.navbar-right {
  display: flex;
  font-size: 14px;
}

.navbar {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

a.dropdown-item {
  color: black;
  padding: 4px 6px;
}

.band-logo{
  margin: 0;
  padding: 4px;
  font-family: 'Lobster', cursive;
  color: white;
  margin-left: 4px;
}

.nav-icon {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.5s;
  &:hover {
    color:rgb(164, 67, 255)
  }
}
