.banner-show img{
  background-size: cover;
  background-position: center;
  object-fit: cover;
  // height: 350px;
  width: 100%;
}
.form {
  width: 100vw;
}
.form-inputs {
  width: 100%;
  border: none;
  input {
    background-color: white;
    border: none;
  }
}
.form-input:focus {
  border: none;
}
