.edit img{
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 320px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 30px;
}
.form.edit {
  width: 100vw;
  font-family: 'Poppins';
  margin-bottom: 70px;
}
.was-validated .form-control:valid, .form-control.is-valid {
  border: none;
  background-image: url('https://cdn-icons-png.flaticon.com/128/1250/1250615.png');
}
.form-control:valid {
  border-style: none;
}
.form-inputs {
  width: 90%;
  input {
    border-style: none !important;
    background-color: white;
  }
}

.update-button {
  background-color: #542FDA;
  border: none;
  // margin: 0;
}

.form-actions.update-button {
  margin: auto;
}

.update-button {
  .btn {
    color: white;
  }
}

.logout {
  text-align: center;
  color: #542FDA;
  // padding-right: 6px;
  font-size: 14px;
}
