.banner-show {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  // height: 300px;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.btn-sendmessage {
  background: linear-gradient(to left, rgb(164, 67, 255), rgb(0, 27, 180));
  border-radius: 50px;
  border: none;
  padding: 10px 16px 10px 16px;
  font-size: 14px;
}

.back-to-index {
  position: absolute;
  top: 10%;
  left: 5%;
}

.fa.fa-arrow-left.index {
  color: white;
  opacity: 0.6;
}

.user-info {
  padding-left: 10px;
  padding-right: 10px;
  // font-family: 'Lobster Two', cursive;
}

#body-text {
  font-family: poppins;
}

.prevButton {
  height: 50px;
}
