.banner-show img{
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 300px;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.btn-sendmessage {
  background-image: linear-gradient(rgb(22, 22, 167),rgb(119, 15, 119), #c559c0);
  border-radius: 50px;
  border: none;
  padding: 10px 16px 10px 16px;
  font-size: 14px;
}

.back-to-index {
  position: absolute;
  top: 55px;
  left: 10px;
}

.fa.fa-arrow-left.index {
  color: white;
  opacity: 0.6;
}

.user-info {
  padding-left: 10px;
  padding-right: 10px;
  // font-family: 'Lobster Two', cursive;
}
