@import "_post.scss";
@import "new.scss";

.all-content {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.posts-container {
  margin: 0 auto;
  height: 100%;
  width: 75%;
  overflow-y: scroll;
}
.post {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
  h1 {
    margin-bottom: 0;
  }
}
.inner-post {
  background-color: rgb(0, 3, 165);
  height: 100%;
  color: white;
}
.inner-post-bottom {
  height: 20%;
  padding-right: 30px;
  padding-left: 30px;
  p {
    font-size: 30px;
  }
}
.inner-post img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
