@import "new.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

// .poop {
//   height: 100vh;
//   width: 100vw;
//   position: relative;
// }
.all-content {
  // position: absolute;
  // bottom: 0%;
  // padding-top: 50px;
  width: 100vw;
  font-family: 'Poppins';
  // overflow-y: scroll;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(212, 212, 212);
}
.post {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  height: 60vh;
  // margin-bottom: 15px;
  h2 {
    margin-bottom: 0;
    // background-image: linear-gradient(to right, rgb(14, 7, 122), rgb(211, 28, 248), rgb(233, 94, 191));
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-family: 'Lobster', cursive;
  }
  image {
    height: 55%;
  }
}
.name {
  height: 7%;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
}
.post-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43%;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
}
.post-info {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 100%;
  height: 48%;
  object-fit: cover;
}
