* {
  overscroll-behavior: none;
}

.login-text {
 text-align: center;
 font-family: 'Lobster', cursive;
 color: rgb(255, 35, 244);
 font-size: 70px;
 padding-bottom: 30px;
 padding-top: 210px;
 text-shadow: 2px 1px 1px white;
}

.login {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 0, 161, 0.5)), to(rgba(0, 12, 117, 0.5))), url(https://images.unsplash.com/photo-1484876065684-b683cf17d276?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGl2ZSUyMG11c2ljfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60);
  flex-direction: column;
  align-items: center;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.form-inputs {
  color: rgb(252, 252, 252);
  width: 90%;
  margin: auto;
  font-family: "Poppins";
  input {
    border-radius: 50px;
  }
}

.form-sign-up {
  border-radius: 15px;
}

.form-actions {
  text-align: center;
  border: 1px solid rgb(255, 35, 244);
  background-color: rgb(255, 35, 244);
  width: 60%;
  border-radius: 50px;
  margin-left: 76px
}

input.btn {
  color: white;
}

.forgot, .sign-up {
  color:rgb(0, 204, 255);
}
