.sign-up-page {
    // display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}

.sign-up-text {
  text-align: center;
  font-size: 70px;
  font-size: 72px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  background: linear-gradient(to right, rgb(164, 67, 255), rgb(0, 27, 180));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-inputs-signup {
  background: linear-gradient(to right, rgb(164, 67, 255), rgb(0, 27, 180));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 90%;
  margin: auto;
  input {
    border-radius: 50px;
  }
}

.form-actions-signup {
  text-align: center;
  // border: 1px solid rgb(255, 35, 244);
  background-image: linear-gradient(to right, rgb(164, 67, 255), rgb(0, 27, 180));
  width: 60%;
  border-radius: 50px;
  margin-left: 76px;
  margin-top: 60px;
}
