.sign-up-page {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgb(102, 0, 197), rgb(0, 27, 180));
    height: 100vh;
    padding-top: 210px;
}

.sign-up-text {
  text-align: center;
  font-size: 70px;
  color: #ff23f4;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 1px white;
}

.form-inputs-signup {
  width: 90%;
  margin: auto;
  color: white;
  input {
    border-radius: 50px;
  }
}

.form-actions-signup {
  text-align: center;
  width: 60%;
  border-radius: 50px;
  margin-left: 76px;
  margin-top: 30px;
  border: 1px solid #ff23f4;
  background-color: #ff23f4;
  color: white;
}

.login-bottom {
  color: white;
}

.form-text {
  color: white !important;
}
