// * {
//   overflow: hidden !important;
// }

abbr[title*="required"] {
  display: none !important;
}

.sign-up-journey {
  height: 200vh;
  width: 600vw;
  background: linear-gradient(to right, rgb(102, 0, 197), rgb(0, 27, 180));
  display: flex;
  justify-content: left;
}
.content {
  display: flex;
}
.sign-up-module {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#first {
  padding-top: 200px;
}

#second {
  padding-top: 50px;
  color: white;
  h1 {
    margin-bottom: 50px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
#third {
  padding-top: 50px;
  color: white;
  h1 {
    margin-bottom: 40px;
  }
  input {
    height: 150px;
    width: 90%;
  }
}

#fifth {
  padding-top: 100px;
  color: white;
  input {
    border-radius: 50px;
  }
}
.card-category {
  width: 90vw;
  height: 50vw;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sign-up-text {
  text-align: center;
  font-size: 70px;
  color: #ff23f4;
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 1px white;
}
.form-inputs-signup {
  width: 90%;
  margin: auto;
  color: white;
  input {
    border-radius: 50px;
  }
}
.form-actions-signup {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.next-button {
  padding: 10px;
  width: 90%;
  text-align: center;
  background-color: #ff23f4;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}

// . {
//   text-align: center;
//   width: 60%;
//   border-radius: 50px;
//   margin-left: 76px;
//   margin-top: 30px;
//   border: 1px solid #ff23f4;
//   background-color: #ff23f4;
//   color: white;
//   a {
//     text-decoration: none;
//     color: white;
//   }
// }

.login-bottom {
  color: white;
}

.form-text {
  color: white !important;
}
